@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-grey: #ddd;
    --text-grey: #4a4a4a;
    --color-primary: #4D41C0;
    --white: white;
}   

*{
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html, body {
    background-color: var(--bg-grey);
}

header{
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    font-weight: 700;
}
nav a{
    font-size: 12px;
    font-weight: 400;
}
a,a:hover{
    text-decoration:none;
    color : unset;
}
.dsmovie-contact-contact-conteiner{
    display: flex;
    align-items: center;

}

.dsmovie-contact-contact-conteiner img{
margin-right: 10px;
}

#dsmovie-cardlist {
    padding: 40px;
}

.DSMovie-Card{
    width: 100%;
    height: 3600px;
    background-color: var(--white);
    
}

.DSMovie-Card img{
    width: 100%;
}
.dsmovie-card-description{
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0  0 8px 8px;
    min-height: 150px;
}
.dsmovie-card-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;


}
.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40x;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}